POSTGRES_USER=memllm
POSTGRES_PASSWORD=memllm
POSTGRES_BOOTSTRAP_DB=postgres
POSTGRES_PORT=5432

LETTA_DB_NAME=letta
LETTA_PORT=8283
LETTA_SECURE=false
LETTA_SERVER_PASSWORD=

OLLAMA_PORT=11434
OLLAMA_MODEL_ALIAS=memllm-qwen3.5-9b-q4km
OLLAMA_EMBED_MODEL=mxbai-embed-large
